# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
env/


# Environment config
env_config.py

# OS files
.DS_Store
Thumbs.db

# VSCode or IDE config
.vscode/
.idea/

# python Environment file
.env

# Django migration files
**/migrations/
!**/migrations/__init__.py
